<h1>Homepage</h1>
<%= params.inspect %>
<br />
<%= "Refresh: #{Rails.cache.exist?(:refresh_token)}" %>
<br />
<%= "Access: #{Rails.cache.exist?(:access_token)}" %>
<br />

<% if @parsed_data %>
  <% @parsed_data['items'].each do |track| %>
    <p><%= p track['track']['name'] %></p>
  <% end %>
<% end %>
