<h1>Homepage</h1>
<%= params.inspect %>
<br />
<%= "Refresh: is nil? #{Rails.cache.fetch(:refresh_token).nil?}" %>
<br />
<%= "Access: is nil? #{Rails.cache.fetch(:access_token).nil?}" %>
<br />

<% if @parsed_data %>
  <% @parsed_data['items'].each do |track| %>
    <p><%= p track['track']['name'] %></p>
  <% end %>
<% end %>
